<div class="container-fluid">
  <div class="w-30 ">
    <h1 class="text-center">Angular Authentication</h1>
    <div *ngIf="!auth.user" class="d-flex justify-content-center my-3">
      <form class=" border border-secondary p-3">
        <fieldset>
          <legend>Login</legend>
          <div>Email</div>
          <input type="email" name="email" [(ngModel)]="email">
          <div>Senha</div>
          <input type="password" name="password" [(ngModel)]="password">
          <hr>
          <div class="d-flex justify-content-center">
            <button type="button" (click)="auth.emailSignIn(this.email, this.password)" class="m-2">Login</button>
            <button (click)="auth.googleSingIn()" class="m-2">Google</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div *ngIf="auth.error" class="bg-danger text-center">
      {{auth.error}}
    </div>
    <div *ngIf="auth.user" class="bg-success text-center">
      Logado - <b>{{auth.user.email}}</b> |
      <button (click)="auth.singOut()">Sair</button>
      <h2>Firebase List</h2>
      <hr>
      <div>Nome:</div>
      <div><input [(ngModel)]="formNewName"></div>
      <div>Idade:</div>
      <div><input type="number" [(ngModel)]="formNewAge"></div>
      <br>
      <button (click)="addItem()">Adicionar Item</button>
      <hr>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Opção</th>
          </tr>
        </thead>
        <tbody>
          @for (item of list | async; track $index) {
          <tr>
            <td [title]="'chave:'+ item.key">
              {{item.name}}
            </td>
            <td class="text-white">{{item.age}}</td>
            <td>{{item.email}}</td>
            <td>
              <button (click)="deleteItem(item.key)">Remover Item</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>